[GENERAL]
devices=HT69V0203566
;Comma separated list of all device ids
measurement_site=Wuerzburg
;The prefix for the output directory
schedule_directory=Scenarios
;Directory containing the scenarios to be performed
video_list=videos.txt
;The file containing the video ids

[POWER]
alternate_phones=false
;If phones should switch between each measurement, or adhere to the threshold
battery_threshold=30
;Battery threshold for switching phones
sleep_time=20
;Minutes a phone should sleep after reaching the threshold when using only one phone


[NETWORK]
interface=eth0
;The network interface providing the internet connection
command_socket=25519
;Socket for the command server
data_socket=25506
;Socket for data collection